upstream grafana-upstream {
			server grafana:3000;
}


server {
    listen       443 ssl;
    server_name  ${HTTPS_COMMON_NAME};

    include /etc/nginx/conf.d/ssl.conf*;

    location / {
        proxy_pass   http://grafana-upstream;
    }
}